body{
    margin: 0;
    overflow: auto;
    background-color: darkgrey;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: row;
}
#myCanvas{
    background-color: lightgrey;
    overflow: scroll;
}
#description{
    height: 100vh;
    width: 300px;
    background-color: black;
    font-family: monospace;
    font-size: medium;
    color: green;
    padding: 0 20px;
    margin: 0;
    line-height: 1.5;
   
    display: inline-block;
    
}
strong >.blue{
    color:blue !important;
}
strong> .pink{
    color: pink !important;
}
strong{
    color: yellow;
}
strong:hover{
    color: red;
}

.type {
    width: 0;
    animation: typing;
    animation-duration: 1s;
    animation-timing-function: steps(220, end);
    animation-fill-mode: forwards;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
#buttons{
    display: flex;
    flex-direction: column;
}
button{
    border-radius: 5px;
    margin: 2px;
    cursor: pointer;
    text-align: center;
    margin: 10px 5px;
}
button:hover{
    background: green;
}
#myCanvas{
    background-color: lightgrey;
    overflow: scroll;
}


